.bd-example {
    height: 90vh;
}

div#carouselExampleCaptions {
    height: 90vh;
}
.carousel-inner {
    height: 90vh;
}

.carousel-caption.d-none.d-md-block {
    height: 120vh;
    font-size: xx-large;
}