{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Miradi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                    <!-- <a class="nav-item nav-link" href="/projects">View Projects</a> -->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/authentication/login">Login</a>
                <!-- <a class="nav-item nav-link" href="/logout">Logout</a> -->
                <a class="nav-item nav-link" href="/authentication/sign-up">Register</a>
            </div>
        </div>
</nav>
<div class="container-fluid auth">
    <div class="overlay_auth">
        <h3 class="text-white text-center mt-3">About the application</h3>
        <div class="row">
            <div class="col-md-6 bg-danger">
                <h1 class="text-white">logo</h1>
            </div>
            <div class="col-md-6 ">
                <h1 class="text-white ml-auto">haha wacha sumbua</h1>
                <p class="text-white">Miradi is a web application that was inspired by the common man problems.
                    with the increase in corruption, mis-managment of funds,
                </p>
                <iframe width="560" height="315" 
                    src="https://www.youtube.com/embed/D1cmevJAjsk?start=16" 
                    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" 
                    allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
{% endblock %}
