{%extends 'base.html'%}
{%block content%}
{{super()}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Miradi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                    <!-- <a class="nav-item nav-link" href="/projects">View Projects</a> -->
            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">

                <a class="nav-item nav-link" href="/authentication/login">Login</a>
                <a class="nav-item nav-link" href="/authentication/sign-up">Register</a>
            </div>
        </div>
</nav>

<div class="container">
    <h1 class="text-center">Login</h1>
    <form action="/authentication/login" method="POST">
        {%if error%}
        <div class="alert alert-danger">
            {{ error }}
        </div>
        {%endif%}
        <div class="form-group">
            <label for="user name">User Name</label>
            <input type="text" placeholder="username" name="username" required class="form-control" id="">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" name="password" placeholder="password" required id="">
        </div>
        <button class="btn" type="submit">Submit</button>
    </form>
</div>
{%endblock%}