{% extends 'base.html' %}


{% block content %}
{{super()}}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">Miradi</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto">
                    <a class="nav-item nav-link" href="/projects">Add Projects</a>

            </div>
            <!-- Navbar Right Side -->
            <div class="navbar-nav">
                <a class="nav-item nav-link" href="/logout">Logout</a>
            </div>
        </div>
</nav>


  <div class="container-fluid auth">
    <div class="overlay_auth">
      <div class="container">
        <div class="row">
          {% for project in projects %}
          <div class="col-md-8 mt-3">
            <div class="card">
              <div class="card-header">
                <h4>{{project.name}}</h4>
              </div>
              <div class="card-body">
                <div class="row">
                  <div class="col-md-4">
                    <h5>Progress</h5>
                    <p>{{project.progress}}</p>
                  </div>
                  <div class="col-md-4">
                    <h5>Description</h5>
                    <p>{{project.description}}</p>
                    </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            {% if user.profile_pic_path %}
        
            <img src="{{url_for('static',filename=user.profile_pic_path)}}" alt="" class="img-thumbnail">
        
            {%else%}
            <p>No profile picture</p>
        
            {% endif %}
        
                {% if user == current_user %}
            <form  action="{{url_for('main.update_pic',uname=user.username)}}" method="post" enctype = "multipart/form-data">
        
              <input type="file"  name="photo" class="form-control" required>
              <input type="submit">
            </form>
              {% endif %}
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
